# Packages
node_modules/

# Hardhat build outputs
artifacts/
cache/

upgrades*.json
downgrades*.json
multi-sign-wallet*.json
multicall*.json
create2*.json
curve-token-and-faucet*.json
stable-swap-3-pool*.json

.openzeppelin

.env.dev
